{% extends "layout.njk" %}
    {% block content %}
    <h1>Birds</h1>
        <ul>
            {%for bird in birds%}
                <li><a href="./birds/{{bird.id}}">Name: {{bird.name}}, species {{bird.species}}</a></li>
            {%endfor%}
        </ul>
    {% endblock %}